@import url('https://fonts.googleapis.com/css?family=Titan+One&display=swap');

body {
    background: oldlace;
    font-family: 'Titan One';
    margin: 0px;
}
h1 {
    font-family: "Comic Sans MS";
    font-style: italic;
    margin: 100px;
}
p {
    font-variant: small-caps;
}
.navWrapper {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    background: darkgreen;
    padding: 0px;
    margin: 0px;
}
.homeWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.navWrapper a {
    color:white;
    text-align: center;
    padding: 4px;
    float: left;
}
.navWrapper a:hover {
    background: oldlace;
    color: black;
}

canvas {
    width: 100%;
}

.navWrapper .active {
    background: lightgreen;
}

.navLogo {
    float: left;
    text-align: center;
    width: 34%;
}
.navButtons {
    float: left;
    width: 33%;
}
.gameWrapper {
    text-align:center;
}